<ion-content [fullscreen]="true">
  <section class="flex flex-nowrap justify-between py-2 px-4">
    <ion-button color="light" size="large">
      <ion-icon slot="icon-only" ios="remove" md="remove"></ion-icon>
    </ion-button>

    <app-turn-signals-and-hazard-lights/>

    <ion-button color="light" size="large">
      <ion-icon slot="icon-only" ios="add" md="add"></ion-icon>
    </ion-button>
  </section>

  <section class="flex flex-nowrap justify-between py-2 px-4">

  </section>
</ion-content>
